<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.org.eclipse.rcp.cheatsheet.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.org.eclipse.rcp.cheatsheet.Perspective"
            id="org.org.eclipse.rcp.cheatsheet.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.org.eclipse.rcp.cheatsheet.application"
            name="ORG CheatSheet RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="ORG CheatSheet RCP">
         </property>
      </product>
   </extension>
</plugin>
